
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&family=Rubik:ital@1&display=swap');

html,body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
}
.button{
    padding: 20px;
    margin: 0px 3px;
    border: 2px solid black;
    border-radius: 12px;
    cursor: pointer;
    width: 80px;
    font-size: 25px;
}
.clear{
    padding: 20px;
    margin: 0px 3px;
    border: 2px solid black;
    border-radius: 6px;
    cursor: pointer;
    width: 77px;
    font-size: 20;
    /* background-color: blue; */
   
}
.row{
    margin: 8px;
}
.input{
    margin-top: 10px;
    padding: 15px 45px;
    background-color: aliceblue ;
    overflow: overlay ;
    border: 3px solid black;
    border-radius: 12px;
    font-size: 20px;
    width: 250px;
    height: 70px;
}
.container{
    height:auto;
    background-color: grey;
    width:380px;
    border-radius: 12px;
    margin: 20px 5;
    border-style: solid ;
    border-color: black;
   
    
}
/* .container:hover{
    background-color: aquamarine;
} */
.button:hover{
    background-color: rgb(72, 95, 25);
}
.rowtop{
    margin-top: 20px;
    width: 290px;
    height: 80px;
    border: 3px solid black;
    padding: 26px;
    border-radius: 12px;


}
.rowbottom{
    margin-bottom: 20px;
}
.footer{
    padding: 20px;
}
/* .input{
    height: auto;
    width: 280px;
    overflow: overlay;
} */